*{
    font-family: "Roboto", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
    text-decoration: none;
}

a:hover{
    color: rgb(155, 153, 153);
}

.titulo{
    color: white;
}
body{
    margin: 0;
    text-align: center;
}

body *{
    margin: auto;
}

body p{
    margin:50px;
}


#button-show{
    text-align: center;
    border-radius: 90px;
    margin:auto;
    width: 50px;
    height: 50px;
    background-image: url(img/icon/down-arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(245, 240, 240);
    float: left;
    position: relative;
    right: 30px;
 
}

.entrada p{
    margin:5px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 5px;
    overflow: hidden;
}

#grid-container div {
    background-color: #fffdfd;
    text-align: center;
    color: black;
}

#grid-container div img{
    transition: all 0.5s ease 0s;
}

#grid-container:hover div img{
    opacity: 0.7;
   
}

#grid-container div img:hover{
    transform: scale(1.1);
    opacity: 1;
}

.large {
    grid-column: span 2;
    grid-row: span 2;
}

.large img{
    height: 100%;
}

header {
    font-family: "Roboto", sans-serif;
    text-align: right;
    min-height: 100px;
    padding: 40px;
    background-color: rgb(234, 229, 229)
    /* background-image: url(img/noticias-img/foca.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

header h1, header h2, header h3{
    margin-right: 20%;
    color: rgb(35, 34, 34);
}

header h1{
    font-weight: 250;
    font-size: 3em;
}

header h2{
    font-weight: 200;
    font-size: 2em;
}

img{
    max-width: 100%;
}

.maps{
    display: inline-block;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
  }

iframe, .maps iframe {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    max-width: 100%;
}


nav {
    background-color: #f5f5f5; /* Color de fondo principal - neutro */
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    font-family: Arial, sans-serif; /* Fuente neutral */
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
    display: inline-block;
    margin: 20px;
    font-size: 1.2em; /* Aumento de tamaño de fuente */
    color: #333; /* Color de texto - neutro */
    position: relative;
    transition: all 0.3s ease; /* Transición suave */
}

nav ul li a {
    text-decoration: none;
    color: inherit; /* Hereda el color del padre */
}

nav ul li:hover {
    font-size: 1.3em; /* Tamaño de fuente aumentado en hover */
    background-color: #ddd; /* Color de fondo en hover - neutro */
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #f0f0f0; /* Color de fondo del submenú - neutro */
    padding: 10px 0; /* Espacio interno del submenú */
    border-radius: 0 0 5px 5px; /* Bordes redondeados en la parte inferior */
}

nav ul li ul li, nav ul li ul li:hover {
    font-size: 1em; /* Tamaño de fuente del submenú */
    margin: 2px 0px 2px 0px;
}

nav ul li:hover ul {
    display: block
}


.img-noticias{
    background-image: url(../img/noticias-img/fondo-noticias.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.body-index{
    background-image: url(img/sea-blue-sky-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.body-index aside {
    position: sticky;
    top: 0;
    list-style-type: circle;
    background-color:  rgba(255, 255, 255, 0.5);
    float: right;
    margin: 10px;
    margin-right: 5%;
    padding: 10px;
    vertical-align: top;
    max-width: 25%;
    min-height: 800px;
    width: auto;
    background-color:rgb(234, 229, 229);
}

.body-index section{
    margin: 10px;
    width: 60%;
    display: inline-block;
    overflow: hidden;
}

section {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 60%;
    margin: 10px;
    padding: 10px;
}

section#main-sec{
    width: 60%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.8);
}


/* Estilos del footer */
footer {
    background-color: #ddd; /* Color de fondo en hover - neutro */
    color: #fff; /* Texto en color blanco */
    padding: 20px; /* Aumentado el relleno para más espacio */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Estilos del logo en el footer */
.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    max-width: 40px;
    height: auto;
    margin-right: 30px;
}

.footer-logo p {
    margin: 0;
    font-weight: bold; 
    font-size: 16px;
}

.footer-links a {
    color: rgb(35, 34, 34);
    text-decoration: none;
    margin-right: 10px;
}

.footer-social {
    margin: auto; 
}

.footer-social a {
    margin-right: 10px;
}

.footer-social a img {
    max-width: 30px;
    height: auto;
}


/*Página de calendario*/

.table{
    text-align: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.table h2{
    font-size: 48px;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
    height: 200px;
    width: 800px;
  }
.table th, td {
    border: 1px solid black;
    padding: 12px;
    font-size: 16px;
    text-align: center;
  }
.table  th {
    background-color: rgba(15, 24, 41, 0.904);
    color: white;
    font-size: 22px;
  }

.table a{
    color: black;
}

.table a:hover{
    color: rgba(15, 24, 41, 0.904);
}



.papers{
    display: block;
    list-style-type: none;
    text-align: left;
}


.papers li{
    border-bottom: 3px solid rgb(67, 83, 147);
    padding: 10px;
    margin: 10px 5px 30px;
    
}

.papers li a{
    text-decoration: none;
    color: rgb(29, 30, 30);
}

.papers li a:hover{
    text-decoration: none;
    color: rgb(107, 107, 107);
}

  @media (max-width: 800px) {

    aside{
        display: none; 
    }

    #div-2{
        width: 90vw; 
    }

    #div-3{
        min-width: 300px; 
    }

}