/*Página de calendario*/

.table{
    text-align: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.table h2{
    font-size: 48px;
    margin-top: 30px;
}

.table {
  
    border-collapse: collapse;
 
  }

.table th, td {
    border: 1px solid black;
    padding: 12px;
    font-size: 16px;
    text-align: center;
  }
  
.table  th {
    background-color: rgba(15, 24, 41, 0.904);
    color: white;
    font-size: 22px;
  }

.table a{
    color: black;
}

.table a:hover{
    color: rgba(15, 24, 41, 0.904);
}

.maps{
    display:flex;
    justify-content: space-between;
    margin: 40px 20px 40px 20px;
  }

.maps iframe {
    height: 250px;
    width: 450px;
    border-radius: 10px;
  }
