body{
    padding: 0px;
}



.equipo{
   
    width: 90vw;
}

.equipo div, .opinion {
    display: inline-block;
    width : 250px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    vertical-align: top;
    margin: 10px;
    
}

.equipo div img, .opinion img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease 0s;
}

.equipo div p, .opinion p{
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}



/*Para evitar saturar la página de contenido, facilitaremos el acceso a la tesis cambiando el display*/
#tesista .tesis, #tesista:hover .comentario, #tesista:hover img{
    display : none;
}

#tesista:hover .tesis{
    display: block;
}





.imagenes-somos{
    display:flex;
    justify-content: center;
}

.imagenes-somos img{
    margin: 0;
    max-width: 30vw; 
    min-width: 300px;
    width:auto;
    transition: all 0.5s ease 0s;
}

.imagenes-somos img:hover{
    transform: scale(1.1);
}


img {
    display: inline-block;
    width: 350px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.comentario{
    font-size:1.2em;
    padding:5px;
    font-style: italic;
    max-width: 80%;
    background-color: rgb(255, 255, 255);
}
@media (max-width: 600px) {

    .equipo div, .estudiantes div{
        width:60vw; 
       
    }

  
}