.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.titulo-noticia{
    text-align: center;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;
}

.noticia {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 470px;
    height: 440px;
    flex: 0 1 calc(30% - 40px);  /*El tamaño inicial del elemento es de 30%. Y se le restan 40px para darle espacio adicional a dicho elemento*/
    /*Por otro lado, flex 1 indica que el elemento puede contraerse para ajustarse en el espacio disponible dentro del contenedor flex*/
    margin-bottom: 100px;
}

.noticia img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.noticia h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
    text-align: center;
}

.noticia a{
    color: black;
}

.texto{
    text-align: center;
}

.noticia div {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .noticia {
        width: 90%;
        height: auto; /* Altura automática para dispositivos móviles */
    }
}
